
@use '@progress/kendo-theme-bootstrap/scss/index.scss' as * with (
  $kendo-colors: (
    app-surface: #ff69b4,
    on-app-surface: #111111,
    primary-subtle: #ffeceb,
    primary-subtle-hover: #ffdedb,
    primary-subtle-active: #ffc8c4,
    primary: #ff6358,
    primary-hover: #ea5a51,
    primary-active: #d45349,
    primary-emphasis: #ff9d97,
    primary-on-subtle: #5c201c,
    on-primary: #ffffff,
    primary-on-surface: #ff6358
  )
);

// Include only Button and PanelBar styles.
@include kendo-button--styles();
@include kendo-panelbar--styles();
/*
@use '@progress/kendo-theme-bootstrap/scss/all.scss' as * with (
  $kendo-button-bg: #ff69b4
);

@use "sass:map";

$kendo-colors: map.merge(
$kendo-colors,
(
  app-surface: #f8f8f8,
  on-app-surface: #111111
)
);

$kendo-colors: map.merge($kendo-colors, k-generate-color-variations('primary', #9c27b0, 'default'));
$kendo-colors: map.merge($kendo-colors, k-generate-color-variations('secondary', #e51a5f, 'default'));
$kendo-colors: map.merge($kendo-colors, k-generate-color-variations('base', #eaeaea, 'default'));

@include kendo-theme--styles();
*/

body {
    background-color: lightblue;
  }